


.footer {
    padding: 20px 10px 10px 10px;
    background-color: rgb(60, 117, 100);
    border-top: 1px solid darkgray;
    display: flex;
}

.footer div{
    flex: 1;
}

.footer .name{
    text-align: right;
    text-transform: capitalize;
}
